<div class="container mt-5">
<h2><%= @article.title %> <%= link_to "âœï¸", edit_article_path %> <%= link_to "ðŸ—‘ï¸", article_path(@article.id),  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %></h2>
<p><%= @article.content %></p>
</div>
